.advantages {
  width: 100%;
  background: #fff;
}

.advantagese__wrapper {
  padding: 56px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages__title {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;

  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;

    width: 56px;
    height: 16px;

    background-color: var(--akcentColor);
    z-index: -1;
  }
}

.advantages__list {
  margin-right: -16px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.advantages__item {
  position: relative;
  width: 288px;
  padding: 24px 16px;
  padding-left: 80px;
  margin-bottom: 16px;
  margin-right: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: var(--grayCartFonColor);
}

.advantages__svg-wrapper {
  position: absolute;
  top: 18px;
  left: -6px;
  width: 74px;
  height: 74px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 6px solid var(--akcentColor);
  background: #fff;
}

.advantages__item-svg {
  width: 56px;
  height: 56px;
}

.advantages__item-title {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 24px;
}

.advantages__item-desc {
  font-size: 14px;
  line-height: 20px;

  color: inherit;
}

@media (min-width: 1450px) {
  .advantagese__wrapper {
    padding: 88px 16px;
  }

  .advantages__title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 40px;

    &::before {
      top: 50%;
      left: -1px;
    }
  }

  .advantages__list {
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &::after {
      content: 'Преимущества';
      position: absolute;
      top: 0px;
      right: 0;
      width: auto;
      height: 100px;

      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 96px;
      line-height: 100px;
      color: #858585;

      opacity: 0.1;
      transform-origin: right top 0;
      transform: rotate(90deg) translate(100%, -110px);
    }
  }

  .advantages__item {
    width: 462px;
    height: 248px;
    padding: 40px 24px 40px 102px;
    margin-bottom: 24px;
    margin-right: 16px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    justify-content: flex-start;
    align-items: flex-start;

    background: linear-gradient(
      to left,
      var(--grayCartFonColor) 408px,
      transparent 408px
    );
    transition: all 0.5s;

    &:hover {
      background: linear-gradient(
        to left,
        var(--akcentColor) 408px,
        transparent 408px
      );
    }
  }

  .advantages__svg-wrapper {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 84px;
    height: 84px;
  }

  .advantages__item-svg {
    width: 56px;
    height: 56px;
  }

  .advantages__item-title {
    font-size: 24px;
    line-height: 32px;
  }

  .advantages__item-desc {
    font-size: 14px;
    line-height: 20px;

    color: inherit;
  }
}
