.catalog {
  margin-bottom: 58px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog__list-item {
  position: relative;
  height: 208px;
  margin-bottom: 64px;
}

.catalog__list-link {
  width: 288px;
  height: 168px;
  padding: 32px 36px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  text-align: center;

  background-color: #ffffff;
}

.catalog__svg-wrapper {
  position: absolute;
  top: -40px;
  width: 104px;
  height: 104px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border: 6px solid var(--akcentColor);
}

.catalog__list-svg {
  width: 64px;
  height: 64px;
}

.catalog__link-title {
  width: 216px;
  align-items: center;
}
