.skin {
  margin-bottom: 56px;
}

.skin__right-block {
  max-width: 585px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skin__title {
  margin-bottom: 24px;
  position: relative;

  font-size: 16px;
  line-height: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;

    width: 56px;
    height: 16px;

    background-color: var(--akcentColor);
    z-index: -1;
  }
}

.skin__desc {
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 20px;

  color: inherit;
}

.skin__left-block {
  display: none;
}

@media(min-width:1176px) {
  .skin {
    position: relative;
    width: 1176px;
    min-height: 373px;
    margin-bottom: 88px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skin__left-block {
    margin-right: 144px;

    display: block;
  }

  .skin__title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 40px;

    &::before {
      top: 50%;
      left: -1px;
    }
  }

  .skin__desc {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 24px;
  }
}
