.price {
  margin-bottom: 58px;
}

.price__title {
  position: relative;

  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;

    width: 56px;
    height: 16px;

    background-color: var(--akcentColor);
    z-index: -1;
  }
}

.price__desc {
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 20px;

  color: inherit;
}

.price__table-wrapper {
  margin-bottom: 32px;
  padding-bottom: 2px;

  overflow-x: auto;
}

.price__table {
  width: 1412px;
  margin: 0 auto;
  padding: 2px;

  border-collapse: collapse;
  text-align: center;

  & thead {
    height: 80px;

    font-size: 16px;
    line-height: 24px;

    color: #fff;
    background-color: var(--blackFonColor);
    border: none;
  }

  & td {
    width: 177px;
    height: 144px;
    padding: 10px;

    vertical-align: middle;

    border: 1px solid var(--grayCartFonColor);
  }

  & .first {
    width: 354px;
  }

  & .first img {
    margin: 0 auto;
    margin-bottom: 22px;
  }

  & tbody {
    color: #13131d;
  }

  & tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  & tbody tr:hover {
    outline: 2px solid var(--akcentColor);
  }
}

.price__show-price-button {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.price__download-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__svg {
  width: 22px;
  height: 24px;
  margin-right: 10px;
}

@media (min-width: 1450px) {
  .price {
    margin-bottom: 144px;
  }

  .price__table-after {
    position: relative;

    &::after {
      content: 'Наши цены';
      position: absolute;
      top: 0px;
      right: 0;
      width: auto;
      height: 100px;

      font-family: 'Montserrat-Bold';
      font-size: 96px;
      line-height: 100px;
      color: #858585;

      opacity: 0.1;
      transform-origin: right top 0;
      transform: rotate(90deg) translate(100%, -110px);
    }
  }

  .price__title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 40px;
    &::before {
      top: 50%;
      left: -1px;
    }
  }

  .price__desc {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 24px;
  }

  .price__show-price-button {
    margin-bottom: 32px;
  }
}
