.page-footer {
  background: url('./img/footer-fon.png');
  background-repeat: repeat;
}

.page-footer__wrapper {
  background-color: rgba(43, 40, 49, 0.7);
}

.page-footer__content {
  padding-top: 32px;
  padding-bottom: 40px;

  font-size: 14px;
  color: #fff;
}

.page-footer__catalog-nav {
  margin-bottom: 40px;

  & li {
    margin-bottom: 10px;
  }
}

.page-footer__site-nav {
  margin-bottom: 40px;

  & li {
    margin-bottom: 10px;
  }
}

.page-footer__contacts {
  margin-bottom: 40px;
}

.page-footer__contacts-info {
  margin-bottom: 16px;
}

.page-footer__logo {
  width: 140px;
  height: 16px;
}

.page-footer__copyright-sign {
  margin-bottom: 8px;
}
