.sizing {
  width: 100%;
  margin-bottom: 58px;

  background: url('./img/sizing-fon.jpg');
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.sizing-wrapper {
  width: 100%;
  min-height: 345px;
  background-color: rgba(43, 40, 49, 0.6);
}

.sizing__content-wrapper {
  padding-top: 58px;
  color: #fff;
}

.sizing__title {
  position: relative;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;

  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;

    width: 56px;
    height: 16px;

    background-color: var(--akcentColor);
    z-index: -1;
  }
}

.sizing__desc {
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 20px;

  color: inherit;
}

@media (min-width: 1450px) {
  .sizing {
    margin-bottom: 88px;
  }

  .sizing-wrapper {
    width: 100%;
    min-height: 400px;
    background-color: rgba(43, 40, 49, 0.6);
  }

  .sizing__content-wrapper {
    position: relative;
    width: 1176px;
    margin: 0 auto;
    padding-top: 88px;
    padding-right: 600px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: -56px;

      width: 335px;
      height: 456px;

      background: url('./img/sizing-pic.png');
      background-repeat: no-repeat;
      background-size: 335px 456px;
    }
  }

  .sizing__title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 40px;

    &::before {
      top: 50%;
      left: -1px;
    }
  }

  .sizing__desc {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 24px;
  }
}
